.activeModal {
    overflow-y: hidden;
}

.mainSection {
    background-color: #0c1314;
    box-sizing: border-box;
    padding: 5% 7%;
}

.topDivBox {
    display: flex;
    width: 100%;
    gap: 1%;
}

.topDiv {
    background-color: #0daba0;
    padding: 1.3% 1.8%;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    font-weight: 900;
    font-size: 120%;
}

.addDiv {
    background-color: #0cb678;
    padding: 1.3% 1.8%;
    border-radius: 5px;
    width: 9%;
    text-align: center;
    font-weight: 900;
    font-size: 120%;
    transition: all .1s linear;
    cursor: pointer;
}

.addDiv:hover {
    background-color: #109866;
}

.bottomDiv {
    /* border: 1px solid red; */
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-gap: 1em;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}

.notFound {
    margin-top: 3%;
    width: 100%;
    height: 30vh;
    display: flex;
    font-weight: 600;
    opacity: .5;
}