.cardContainer {
    /* border: 1px solid white; */
    border-radius: 5px;
    overflow: hidden;
    height: 48vh;
    color: white;
    transition: all .1s linear;
    border: 1px solid #070b0b;
}

.cardContainer:hover {
    border: 1px solid #80f1f1;
}

.cardContainer:hover .titleBox {
    background-color: #424b4b;
}

.imageBox {
    /* border: 1px solid blue; */
    background-color: #202525;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.imageBox img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* top: -3%; */
}

.titleBox {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070b0b;
    gap: 5%;
}

.name {
    font-weight: 600;
    text-align: center;
}

.sport {
    font-size: 80%;
    font-weight: 500;
    color: rgb(176, 171, 171);
}


@media (max-width:550px) {
    .cardContainer {
        height: 35vh;
        font-size: 70%;
    }
}