.dropdown {
    position: absolute;
    top: 90%;
    right: 7%;
    background-color: rgb(25, 34, 36);
    width: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 1;
    border: 1px solid grey;
}

.fadeEnter {
    opacity: 0;
    transform: scaleX(.95) scaleY(.95);
    transform-origin: top right;
}
  
.fadeEnterActive {
    opacity: 1;
    transition: opacity 80ms ease-out, transform 80ms ease-out;
    transform: scaleX(1) scaleY(1);
    transform-origin: top right;
}

.fadeExit {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    transform-origin: top right;
}
  
.fadeExitActive {
    opacity: 0;
    transition: opacity 80ms ease-in, transform 80ms ease-in;
    transform: scaleX(.95) scaleY(.95);
    transform-origin: top right;
}

/* .dropdown li {
    list-style: none;
    color: rgb(255, 255, 255, .8);
    box-sizing: border-box;
    padding: 5%;
    border-radius: 8px;
    transition: all .1s linear;
    cursor: pointer;
    margin: 0;
    font-weight: 500;
    font-size: 107%;
} */

.dropdown li {
    list-style: none;
    color: rgb(255, 255, 255, .8);
    box-sizing: border-box;
    padding: 5%;
    border-radius: 8px;
    transition: all .1s linear;
    cursor: pointer;
    margin: 0;
    font-weight: 500;
    font-size: 95%;
    display: flex;
    align-items: center;
    gap: 4%;
    width: 100%;
}

.dropdown li span {
    /* border: 1px solid blue; */
    display: flex;
    padding: 4%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 50, 52);
    border-radius: 5px;
}

.dropdown li span svg {
    width: 13px;
    fill: rgb(255, 255, 255, .6);
}

/* .dropdown li p {
    border: 1px solid green;
} */

.dropdown li:hover {
    background-color: rgb(235, 235, 235, .15);
}

@media (max-width: 920px) {
    .dropdown {
        width: 30%;
    }
}

@media (max-width: 550px) {
    .dropdown {
        width: 100%;
        top: 90%;
        right: 0%;
        border: none;
        border-radius: 0%;
        padding: 0;
    }
}