

.watchIcon {
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.watchIcon svg {
    width: 23px;
    fill: rgb(255, 255, 255, .5);
    cursor: pointer;
    transition: all .1s linear;
}

.watchIcon svg:hover {
    fill: rgb(255, 255, 255, .8);
}

.watchActive svg {
    fill: #35dea0;
}

@media (max-width: 1020px) {

}

@media (max-width: 820px) {
    .watchIcon svg {
        width: 10px;
    }
}


@media (max-width: 550px) {

    
}