.navbarContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.7%;
    height: 10vh;
    padding: 0% 7%;
    box-sizing: border-box;
    font-weight: 600;
    background-color: #0c1314;
    border-bottom: 1px solid rgb(136, 136, 136, .2);
    position: relative;
}

.logo {
    background-color: #35dea0;
    width: 2.5%;
    height: 30px;
}

.logoTitle {
    font-size: 140%;
    font-weight: 700;
    color: rgb(255, 255, 255, .8);
}

.formSearch {
    flex-grow: 1;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}

.searchBar {
    background-color: rgb(246, 244, 244, .05);
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 60%;
    color: rgb(255, 255, 255, .7);
    font-size: 110%;
    font-weight: 500;
    padding-left: 2%;
}

.regLinks {
    padding: .8% 1%;
    border-radius: 8px;
    transition: all .1s linear;
}

.regLinks:hover {
    color: #F2F5F8;
    background-color: #0b3735;
}

/* .specDiv {
    padding: .8% 1%;
    border-radius: 8px;
    transition: all .1s linear;
    cursor: pointer;
    border: 1px solid red;
}

.specDiv:hover {
    color: #F2F5F8;
    background-color: #0b3735;
} */

.dropLink {
    transition: all .1s linear;
    /* border: 1px solid red; */
    cursor: pointer;
    height: 60%;
    border-radius: 5px;
    width: 4%;
    background-color: rgb(246, 244, 244, .05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropLink p svg {
    width: 16px;
    transition: all .1s linear;
}

.svgDefault {
    fill: rgb(242, 245, 248, .6);
}

.svgActive {
    fill: #35dea0;
}

.dropLink:hover {
    background-color: rgb(246, 244, 244, .1);
}

/* .specDiv:hover .dropLink {
    color: #F2F5F8;
} */

.register {
    padding: .8% 1%;
    border-radius: 8px;
    transition: all .1s linear;
    background-color: #0cb678;
    color: white;
}

.register:hover {
    background-color: #0e8157;
}