.activeModal {
    overflow-y: hidden;
}

/* .modalBackdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
} */

/* ANIMATION MODAL */

/* .modalEnter {
    opacity: 0;
}

.modalEnterActive {
    opacity: 1;
    transition: opacity 100ms ease-out;
}

.modalExit {
    opacity: 1;
}

.modalExitActive {
    opacity: 0;
    transition: opacity 100ms ease-in;
} */

/* ANIMATION MODAL */

.mainSection {
    background-color: #0c1314;
    box-sizing: border-box;
    padding: 5% 7%;
}

.topDivBox {
    display: flex;
    width: 100%;
    gap: 1%;
}

.topDiv {
    background-color: #0daba0;
    padding: 1.3% 1.8%;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    font-weight: 900;
    font-size: 120%;
}

.addDiv {
    background-color: #0cb678;
    padding: 1.3% 1.8%;
    border-radius: 5px;
    width: 9%;
    text-align: center;
    font-weight: 900;
    font-size: 120%;
    transition: all .1s linear;
    cursor: pointer;
}

.addDiv:hover {
    background-color: #109866;
}

.bottomDiv {
    /* border: 1px solid red; */
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-gap: 1em;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}