.selectButton {
    padding: 5% 0%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #192a2f;
    color: white;
    font-size: 120%;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all .1s linear;
    outline: none;
    /* border: 1px solid red; */
}

.selectButton:hover {
    background-color: #25383e;
}